
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;  
}

.bg-light-detalles {
  background-color: #2866B7;
  border-radius: 8px;
}
.bg-light-detalles h4, .bg-light-detalles p {
  color: white;
}
.icon-detalles i {
padding: 15px;
background-color: #2866B7;
border-radius: 100%;
color: white;
}
p {
  margin: 0;
}
.modal-open {
    overflow: scroll;
}
body {
  background-color: #FFFFFF;
  
}
main {
  padding: 0!important;
}
// Home //
.precio_home {
   font-family: 'Oswald', sans-serif;
   color: white;
   font-weight: bold;
   font-size: 24px; /* Aumenta el tamaño de la fuente */
   background-color: rgba(255, 87, 51, 0.8);
   padding: 10px 20px; /* Agrega un padding para mayor espaciado */
   border-radius: 5px; /* Bordes redondeados */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra para mayor profundidad */
   text-transform: uppercase; /* Convierte el texto a mayúsculas */
   letter-spacing: 1px; /* Espaciado entre letras */
}
.barra-movil {
    display: flex;
    overflow: hidden;
}
.titulo-barra-movil h2 {
font-weight: bold;
}
.titulo-barra-movil h2 span{
 color: #1D4D8B; 
}
.titulo-barra-movil {  
    width: 100vw; 
    flex-shrink: 0; 
    color: gray;
    padding: 10px;
    text-align: center;
    animation: desplazamiento_barra 15s linear infinite; 
}
@keyframes desplazamiento_barra {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}
.comercioAdherido h5 a {
  font-family: 'Great Vibes', cursive;
  font-size: 28px;
  font-weight: bold;
  color: #e61717;
}
.comercioAdherido h5 i {
  font-size: 14px;
}
.container-servicio {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}
.container-servicio .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff; 
    text-decoration: none;
    border-radius: 5px;
  }
  .container-servicio .overlay {
    position: absolute; 
    top: 55%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    color: #fff; 
  }
  .container-servicio .overlay a {
    padding: 5px;
    background-color: rgba($color: #FFFFFF, $alpha: 0.5);
    border-radius: 10px; 
    color: rgb(12, 30, 226);
    font-weight: bold;
  }
.container-servicio img {
  max-width: 100%; 
  height: auto; 
  border-radius: 8px; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
  transition: box-shadow 0.3s ease; 
}

.container-servicio img:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7); 
}
.container-servicio h3 {
  color: #ffffff; 
  font-size: 1.5em; 
  margin-bottom: 10px;
}
.container-servicios h1 {
  color: #ffffff;   
}
.bg-gris {
  background-color: #2866B7;
}
// FIN Home


// Zona Navbar 
.promo-container {
  background-color: #f70303;  
  overflow: hidden; /* Asegura que el contenido que se desliza esté oculto inicialmente */
  animation: slideIn 1s ease-in-out; /* Aplica la animación de deslizamiento */
  max-height: 300px; 
  transition: max-height 1s ease-in-out;
}

.promo-text {
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.5; 
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
.promo-container.entering .promo-text {
  opacity: 1;
}
.promo-container.removing .promo-text {
  opacity: 0;
}
@keyframes slideIn {
  from {
    transform: translateX(100%); 
  }
  to {
    transform: translateX(0); 
  }
}


.logo-navbar img {
        max-height: 100px;
    }
// Mintur

.mintur p {
  margin: 0;
  font-size: 10px;
}

// Fin Mintur
nav {
  background-color: #1D4D8B;  
  border-bottom: 5px solid #2866b7;  
}
nav ul li a {
  text-decoration: none;
}
nav li {
  margin-left: 25px;
}

.logo-navbar .titulo-logo {
  font-size: 20px;
  margin-left: 30px;
}
.content-logo {
  border-right: 2px solid white;
}
.logo-navbar .agv {
  font-size: 10px;
  margin-bottom: 15px;
  margin-left: 30px;
}
.logo-navbar p {
  margin: 0;
}
.logo-navbar:hover {
  color: #ffffff;
  
}
.content-navbar {
  margin-left: 10px;
  background-color: #2866b7;
  border-radius: 10px;
}
.navbar li a {
  color: white;
}
.navbar li a:hover {
  color: white;  
}
.inicia_sesion i {
  font-size: 25px;
  color: white;
  vertical-align: top;
}
.inicia_sesion a {
background-color: #2866b7; 
outline: none;
color: #ffffff;
border: 1px solid #ffffff;
font-weight: bold;
text-decoration: none;
padding: 5px;
border-radius: 10px;
margin-left: 10px;
}
.inicia_sesion a:active {
 // background: #265301;
  color: #CDFEAA
}
.bienvenido-user a {
  text-decoration: none;
  color: white;
}
.menu-login {
  background-color: rgba(255, 255, 255, 0.565);
}
.menu-login li a {
  color: blueviolet;
  font-weight: bold;
}
.menu-login li a:hover {
   color: white;
  background-color: rgba(255, 68, 0, 0.8);
}
// Fin Navbar ******
// Zona Login 
.conten-login {
  border: 2px solid rgb(91, 89, 89);
  border-radius: 20px;
  padding: 25px;
  margin: 50px 0;
  box-shadow: 0px 0px 8px rgb(71, 68, 74);
}
// Fin Zona Login
// Banner productos
.img-prod-banner {
  width: 100%;
  max-height: 500px;
}
.filtro {
    position: relative;
}

.filtro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100; 
}

.filtro img {
    position: relative;
    z-index: 1; 
    width: 100%; 
}

.titulo-detalles-prod {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 102; 
}

.campo-detalles {
    background-color: #f8f9fa; 
    padding: 21px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    margin: 5px;
} 
.datos-generales h2, .datos-generales h5 {
  color: white;
  padding: 10px;
  background-color: #2866B7;
  border-radius: 10px;
  text-align: center;
}


.titulo-seccion {
    color: #007bff; 
    text-decoration: underline;  
}

.detalle-hotel {
    margin-top: 20px; 
}

.info-hotel p {
    margin-bottom: 8px;     
}

.info-hotel i {
    margin-right: 8px; 
    color: black;
}


.subtitulo-hotel {
    color: #007bff; 
}

.info-hotel p {
    margin: 5px 0; 
}

// Pagina Detalle Productos
.titulo-detalles-prod i {
  color: white;
}
.exclusivo-detalles {
  background-color: rgba(218, 0, 252, 0.7) ;
  padding: 15px;
  font-weight: bold;
  border-radius: 10px;
}
.detalles_productos .datos-generales p i {
  color: orange;
}
.detalles_productos .datos-generales p span {
  color: orange;
}
.detalles_productos i {
  margin-right: 5px;
}
.borde-cajas {
  border: 2px solid black;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;  
}
.a-confirmar {
  font-size: 12px;
  text-transform: capitalize;
}
.fa-question-circle {
  color: red;
}

// Fin Pagina Detalle Productos
// Zona Footer
footer {
  background-color: #ffffff;
}
.fa-youtube {
    color: red;
}

.fa-facebook-f {
    color: #1771E6;
}

.fa-instagram {
    color: #E56479;
}
.fa-tiktok {
  color: black;
}
footer a {
  text-decoration: none;
}
nav p {
  margin-bottom: 0;  
}
nav ul li a div {
padding-top: 12px;
}
.rotate-90 {
  transform: rotate(90deg);
}
.margenes {
  margin-top: 80px;
  margin-bottom: 180px;
}
// Fin Zona Footer *****
// Formulario Disney
.form-title {
    color: white;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px; /* Un poco de espacio entre letras */
    text-transform: uppercase;
    margin-bottom: 20px;    
}
.conten-form-disney {
  background-color: #ff69b4;
}
// Fin Formulario Disney
// Formulario Edicion ****

.edit button {  
  font-size: 13px; 
  padding-left: 5px; 
  padding-right: 5px;
  //color: white;
  font-weight: bold;
}
.button-content {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.button-content i {
  margin-left: 5px; 
}
.contenido-opcion-bandera {
        align-items: center;
        cursor: pointer;
        padding: 8px;
    }

    .contenido-opcion-bandera img {
        margin-right: 8px;
    }
.card {
  border: none; 
}
.mas i {
  color: #ff4400;
}
.mas i span {
  color: black;
  font-size: 12px;
  margin-left: 10px;

}
.collapse-form {
  //background-color: #E9ECEF;
  border: 2px solid #E9ECEF;
 }
 .conten-login form button {
  border: none;
  
  
 }
 
// Fin Formulario Edicion *****
// Oportunidad de trabajo Remoto
.presentacion button {
  color: #fff;
  font-weight: bold;
  background-color: #ff6347; /* Usar un color llamativo como Tomato */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.presentacion button:hover {
  background-color: #ff4500; /* Un tono más oscuro en hover */
}

.cita-pascal .titulo-contenido p {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem; /* Aumentar el tamaño de fuente */
  color: white;
}

.cita-pascal p span {
  color: orangered;
  text-shadow: 1px 1px 4px black; /* Aumentar el efecto de sombra */
}

.presentacion {
  background-color: #6a5acd; /* Cambiar a un morado más profundo */
  padding: 40px; /* Mayor padding para resaltar el bloque */
  border: 2px solid #fff;
  border-radius: 15px; /* Mayor border-radius para suavizar los bordes */
  margin: 30px auto;
}

.presentacion h2 {
  color: #fff;
  text-transform: uppercase; /* Usar mayúsculas para dar énfasis */
  letter-spacing: 2px; /* Separar letras para destacar títulos */
}
.presentacion p {
  color: white;
}
.presentacion ul {
  color: rgb(255, 215, 0);
}

.contenido img {
  border-radius: 15px; /* Mayor radio de borde para suavizar las imágenes */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra en las imágenes para que resalten */
}

.presentacion .titulo h2 {
  font-size: 28px; /* Aumentar el tamaño de la fuente */
  font-weight: bold;
  color: #ffffff;
}

.presentacion .titulo h2 span {
  color: rgb(255, 215, 0); /* Cambiar a un dorado para llamar más la atención */
  text-shadow: 2px 2px 5px black;
}

.presentacion hr {
  border-width: 3px;
  border-color: #fff;
}

.presentacion-contenido p span, .presentacion p span {
  color: rgb(255, 215, 0);
  text-shadow: 1px 1px 4px black; /* Aumentar la sombra para mayor efecto */
}
.presentacion-contenido p {
  color: white;
}
.presentacion-contenido h4 {
  color: rgb(255, 215, 0);
}

// FIN Oportunidad de trabajo Remoto
// Verify Emails
.verify_email {
   font-family: Arial, sans-serif;
}
.verify_email .container {
   background-color: #f2f2f2;
   padding: 20px;
   text-align: center;
}
.verify_email .header {
   background-color: #3498db;
   color: #ffffff;
   padding: 10px;
}
.verify_email .content {
   padding: 20px;
}
.verify_email .button {
   background-color: #3498db;
   color: #ffffff;
    text-decoration: none;
   padding: 10px 20px;
   border-radius: 5px;
}
// FIN Verify Emails
// 
// welcome suppliers
.welcome_suppliers {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
.logo-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            animation: logo-grow 4s ease-in-out forwards, fade-in 1s ease-in-out 1s forwards;
            opacity: 0;
        }

        .logo {
            width: 0;
            height: 0;
            border: 100px solid transparent;
            border-bottom: 100px solid #0074d9; /* Cambia el color de fondo según tu preferencia */
        }

        .welcome-text {
            margin-top: 20px;
            font-size: 24px;
            font-weight: bold;
            text-align: center;
        }

        @keyframes logo-grow {
            0% {
                width: 0;
                height: 0;
            }
           
             100% {
                width: 200px;
                height: 200px;
            }
        }

        @keyframes fade-in {
            0% {
                opacity: 0;
            }
             
            100% {
                opacity: 1;
            }
        }
.container-welcome {
            display: none; /* La tabla se oculta inicialmente */
        }
.content-datos {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 100%; /* Ocupar todo el ancho disponible */
    text-align: left;
    overflow: hidden; /* Evita que el contenido se desborde fuera del card en pantallas pequeñas */
}

/* Estilos para productos */
.productos img {
    max-height: 201px;
    /* Otras propiedades de estilo si es necesario */
}
.btn-crucero a {
  border-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.titulo-prod h6 {
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  font-weight: bold;
  
}
.titulo-prod-cruceros h5 {
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  font-weight: bold;
  margin: 0;
}
.titulo-prod p, .titulo-prod-cruceros p {
  color: white;
  text-transform: capitalize;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  font-weight: bold;
}

.fa-sun, .fa-bed, .fa-hotel, .fa-bell-concierge, .fa-mug-saucer, .fa-utensils,
.fa-hot-tub-person, .fa-dumbbell, .fa-cloud-moon, .fa-bus, .fa-plane-departure {
  color: #ffffff;
}
.home-iconos, .fa-sun, .fa-bed, .fa-utensils,
.fa-hot-tub-person, .fa-dumbbell, .fa-bus, .fa-plane-departure {
  color: #474646;
} 
.fa-star {
  color: #E9B003;
}
.fa-location-dot {
  color: rgb(237, 46, 46);
}



.productos .card-body {
  display: flex;
  justify-content: start;
  align-items: center;
  border-right: 1px solid #ddd;
  padding-right: 10px;
}
.productos .card-text {
  display: flex;
  align-items: center;
}
.productos .card-text i {
  margin-right: 5px;
}
.productos .card-body .p-aereo {
  margin: 0 0 13px 7px;
}
.flip-horizontal {
  transform: scaleX(-1);
}
.form-group label {
  font-weight: bold;
  color: gray;
  text-transform: uppercase;
  font-size: 13px;
}
.productos, .productosCrucero {
    border: 1px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    transition: box-shadow 0.3s ease; 
}

.productos:hover, .productosCrucero:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7); 
}
.barra-horizontal-grupal {
    height: 35px; 
    background-color: rgba(252, 0, 0, 0.45); 
    width: 100%; 
    position: absolute;
    bottom: 30px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
}
.barra-horizontal-grupal-hispano {
    height: 35px; 
    background-color: rgba(0, 51, 255, 0.6); 
    width: 100%; 
    position: absolute;
    bottom: 30px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
}
.barra-horizontal-family {
    height: 35px; 
    background-color: rgba(17, 0, 252, 0.45); 
    width: 100%; 
    position: absolute;
    bottom: 30px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
}
.barra-horizontal-paquete {
    height: 35px; 
    background-color: rgba(59, 252, 0, 0.70); 
    width: 100%; 
    position: absolute;
    bottom: 30px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    z-index: 3;
}
.color-barra {
  background-color: rgba(255, 87, 51, 0.8);
  color: white;
}
.barra-horizontal-comunidad {
    height: 35px; 
    background-color: rgba(255, 87, 51, 0.8); 
    width: 100%; 
    position: absolute;
    bottom: 30px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;    
    z-index: 3;
}


.barra-horizontal-comunidad_detalles p {
    display: block;
    width: 100%; 
}

.bloque1-imagen-container img {
  height: 100%; 
  object-fit: cover; 
}
.card-img-container img {
  height: 100%; 
  object-fit: cover; 
}
.leyenda {
    margin: 0; 
}
.card-img-container {
    position: relative;
}
.titulo-paquetes h2, .titulo-paquetes h5 {
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-weight: bold;
}
.titulo-paquetes h2 span, .titulo-paquetes h5 span  {
  color: #1D4D8B;
}
.titulo-paquetes p span {
  color: red;
  font-weight: bold;
}

.titulo-prod h6, .titulo-prod p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
/* FIN Estilos para productos */
// Pagina A-Medida

// Fin Pagina A-Medida


/* Pagina conoce-argentina - Manda paginas similares */
  

    .introduction-productos {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: -10px 10px 10px -10px rgba(0, 0, 0, 0.3);
    }
    .introduction-productos a {
      box-shadow: -10px 15px 10px -10px rgba(0, 0, 0, 0.8);
    }
    .introduction-productos h1 {
      color: #ffffff;
      background-color: #0D6EFD; 
      display: inline-block;
      padding-inline: 10px;
      border-radius: 10px;
    }

    .introduction-productos p {
      color: #555555;
    }
/* FIN Pagina conoce-argentina /*
/* Pagina Aereos */
    .container-form-vuelos {
        margin-top: 50px;
    }

    .container-form-vuelos form {
        background-color: #1D4D8B;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .container-form-vuelos .form-floating input,
    .container-form-vuelos .form-floating textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .container-form-vuelos .form-floating label {
        padding: 5px;
        color: #495057;
    }

    .container-form-vuelos button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .container-form-vuelos button:hover {
        background-color: #0056b3;
    }
   .container-form-vuelos h2 {
       color: #474646;
    }
    .container-titulo {
      background-color: #1d4d8b;
      padding: 7px;
      border-radius: 5px;
      margin-bottom: 5px;
    }
    .container-titulo h2, .container-titulo p, .container-titulo i {
      color: white;
    }
    .container-form-vuelos form button {
      background-color: #2866B7;
    }
/* Fin Pagina Aereos */
/* Estilos para el contenido del card */
.content-datos p {
    padding: 5px;
    background-color: #ffcd36;
}
 // Seccion disney  
 .quince-title {
      font-family: 'Gochi Hand', cursive;
      font-size: 2rem; 
      color: #ffffff; 
      font-weight: bold; 
      text-transform: uppercase; 
      letter-spacing: 2px; 
      text-align: center; 
      background: linear-gradient(to right, #f58084, #fad0c4); 
      padding: 15px; 
      border-radius: 10px; 
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    }
 .boton-disney-usa {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; 
    transition: transform 0.3s ease-in-out;
 }    
 .boton-disney-usa:hover {
    transform: translate(-50%, -50%) scale(1.1); /* Aplica el zoom solo al botón */
}
.card {
    position: relative;
}
.program-btn {
        background-color: #ff69b4;
        color: white;
        font-weight: bold;
        padding: 15px 30px;
        margin: 10px;
        border: none;
        border-radius: 8px;
        font-size: 1.2rem;
        transition: background-color 0.3s ease, transform 0.3s ease;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .program-btn:hover {
        background-color: #ff1493;
        transform: scale(1.05);
    }

    .collapse-container .card {
        border: 1px solid #ff69b4;
        border-radius: 8px;
        background-color: #fff0f5;
    }

    .collapse-container .card-body {
        font-size: 1.1rem;
        color: #333;
    }

// Fin Seccion disney

.container-welcome .image-container {
            width: 100%;
            background: linear-gradient(90deg, rgba(245,169,60,1) 31%, rgba(233,176,3,1) 62%, rgba(255,205,54,1) 89%);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            text-align: center;
           // padding: 20px 0;
        }

        /* Estilo para hacer circular la imagen */
        .circular-image {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 auto;
            opacity: 0; /* Comienza con una opacidad de 0 para ocultar la imagen */
            transition: opacity 1s ease-in-out;
        }

        .circular-image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }


// fin welcome suppliers

// **** Medias Querys
// Navbar


@media (max-width: 768px) {
 
  .muy-importante h2 {
    font-size: 15px;
  }

  .barra-movil img {
  width: 99%;
}
  .banner_movil img {
    height: 380px;
  }
  .exclusivo-detalles {  
  padding: 0;
}
  h1 {
    font-size: 20px;
  }
  form label {
    font-size: 13px;
  }
  .titulo-barra-movil h1 {
    font-size: 9px; 
    color: gray;
    padding: 10px;
    text-align: center;
    animation: desplazamiento_barra 10s linear infinite; 
}
  .titulo-detalles-prod h1 {
  font-size: 20px;
}
.titulo-detalles-prod h2 {
  font-size: 15px;
}
.titulo-detalles-prod h3 {
  font-size: 13px;
}
.titulo-detalles-prod {
    position: absolute;
    top: 50%;
    left: 50%;    
}
.logo-movil{
 width: 75%;
}
.form-movil {
  width: 100%!important;
}
.content-min p {
  font-size: 8px;
} 
.mt-2-movil {
  margin-top: 10px;
}
.mb1-movil {
  margin-bottom: 5px;
}
}
@media (max-width: 468px) {

  .promo-text {  
  font-size: 13px;  
}
 
  .muy-importante h2 {
    font-size: 15px;
  }
  
  .banner_movil img {
    height: 220px;
  }
}
// Fin Medias Querys

// Scroll
.table-container {
    max-height: 330px; /* Altura máxima del contenedor */
    overflow-y: auto; /* Agrega un scroll vertical si hay más de 20 registros */
}
// Paquetes apis
.img-paquete {
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    object-fit: contain; 
    object-position: center;
    image-rendering: crisp-edges; 
    transition: transform 0.2s ease;
}
.whatsapp {
  color: rgb(253, 253, 253);
}
// Boton de whatsApp para consultas de paquetes
.btn-whatsapp {
    display: inline-block;
    background-color: #25D366; /* Color verde de WhatsApp */
    color: white; /* Texto blanco */
    font-size: 18px; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    text-decoration: none; /* Quitar subrayado */
    padding: 15px 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Transición para el hover */
}

/* Efecto hover */
.btn-whatsapp:hover {
    transform: translateY(-2px); /* Elevar ligeramente el botón */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Intensificar la sombra */
    text-decoration: none; /* Asegurar que no aparezca subrayado */
}
.banner_movil {
  width: 100%; /* El banner ocupa todo el ancho */
 // height: 50vh; /* El banner ocupa el 50% de la altura de la pantalla */
  overflow: hidden; /* Oculta cualquier parte de la imagen fuera del contenedor */
}

.banner_movil img {
  width: 100%; /* La imagen se adapta al ancho del contenedor */
  height: 100%; /* La imagen se adapta a la altura del contenedor */
  object-fit: cover; /* Ajusta la imagen para que ocupe el espacio sin deformarse */
}